<!-- 顯示錯誤訊息的標題 -->
<h1>
    <%= message %> <!-- 顯示錯誤訊息 -->
</h1>

<!-- 顯示錯誤狀態碼的副標題 -->
<h2>
    <%= error.status %> <!-- 顯示錯誤狀態碼 -->
</h2>

<!-- 顯示錯誤堆疊的詳細信息 -->
<pre><%= error.stack %></pre> <!-- 顯示錯誤堆疊 -->
